@{
    ViewBag.Title = "Games";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Games</title>
</head>
<body>
    <div>
        <h2>Games</h2>
        <form method="post">

        </form>
    </div>
</body>
</html>