@{
    ViewBag.Title = "Games";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Games</title>
</head>
<body>
    <div>
        <h2>Games</h2>
        
            <table><tbody id="peopleList"></tbody></table>

            <script id="peopleTmpl" type="text/x-jsrender">
                <tr>
                    <td>
                        <ul>
                            {{for people}}
                            <li>
                                {{:name}}
                                {{if nickname}}
                                ( {{:nickname}} )
                                {{/if}}
                            </li>
                            {{/for}}
                        </ul>
                    </td>
                </tr>
            </script>
       
    </div>

    <script src="~/Scripts/jsrender.min.js"></script>
    <script type="text/javascript">
        {
            var myTemplate = $.templates("#peopleTmpl");

            var people = [
                {
                    name: "Adriana"
                },
                {
                    name: "Robert",
                    nickname: "Bob"
                }
            ];

            app = {
                people: people
            };

            var html = myTemplate.render(app);

            $("#peopleList").html(html);
        }
    </script>

</body>
</html>